{% extends 'website/base.html' %}
{% load static %}
{% block content %}
<div class="page-title wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2><i class="fa fa-shopping-bag bg-pink"></i> {{catagory}} <small
                        class="hidden-xs-down hidden-sm-down"></small>
                </h2>
            </div><!-- end col -->
            <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Blog</a></li>
                    <li class="breadcrumb-item active">Fashion</li>
                </ol>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end page-title -->

<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="widget">
                        <h2 class="widget-title">Search</h2>
                        <form class="form-inline search-form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search on the site">
                            </div>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </form>
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Recent Posts</h2>
                        <div class="blog-list-widget">
                            <div class="list-group">
                                <a href="{% url 'blog' recentPosts.0.slug %}"
                                    class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-100 justify-content-between">
                                        <img src="{{recentPosts.0.coverPic.url}}" alt="" class="img-fluid float-left" style="width: 55px !important;height: 55px !important;">
                                        <h5 class="mb-1">{{recentPosts.0.blog_title}}</h5>
                                        <small>{{recentPosts.0.pub_date }}</small>
                                    </div>
                                </a>

                                <a href="{% url 'blog' recentPosts.1.slug %}"
                                    class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-100 justify-content-between">
                                        <img src="{{recentPosts.1.coverPic.url}}" alt="" class="img-fluid float-left" style="width: 55px !important;height: 55px !important;">
                                        <h5 class="mb-1">{{recentPosts.1.blog_title}}</h5>
                                        <small>{{recentPosts.1.pub_date }}</small>
                                    </div>
                                </a>

                                <a href="{% url 'blog' recentPosts.1.slug %}"
                                    class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-100 last-item justify-content-between">
                                        <img src="{{recentPosts.1.coverPic.url}}" alt="" class="img-fluid float-left" style="width: 55px !important;height: 55px !important;">
                                        <h5 class="mb-1">{{recentPosts.1.blog_title}}</h5>
                                        <small>{{recentPosts.1.pub_date }}</small>
                                    </div>
                                </a>
                            </div>
                        </div><!-- end blog-list -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Advertising</h2>
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                <img src="{% static 'upload/banner_03.jpg' %}" alt="" class="img-fluid">
                            </div><!-- end banner-img -->
                        </div><!-- end banner -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Instagram Feed</h2>
                        <div class="instagram-wrapper clearfix">
                            <a class="" href="#"><img src="{% static 'upload/insta_01.jpeg' %}" alt="" class="img-fluid"></a>
                            <a href="#"><img src="{% static 'upload/insta_02.jpeg' %}" alt="" class="img-fluid"></a>
                            <a href="#"><img src="{% static 'upload/insta_03.jpeg' %}" alt="" class="img-fluid"></a>
                            <a href="#"><img src="{% static 'upload/insta_04.jpeg' %}" alt="" class="img-fluid"></a>
                            <a href="#"><img src="{% static 'upload/insta_05.jpeg' %}" alt="" class="img-fluid"></a>
                            <a href="#"><img src="{% static 'upload/insta_06.jpeg' %}" alt="" class="img-fluid"></a>
                            <a href="#"><img src="{% static 'upload/insta_07.jpeg' %}" alt="" class="img-fluid"></a>
                            <a href="#"><img src="{% static 'upload/insta_08.jpeg' %}" alt="" class="img-fluid"></a>
                            <a href="#"><img src="{% static 'upload/insta_09.jpeg' %}" alt="" class="img-fluid"></a>
                        </div><!-- end Instagram wrapper -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Popular Categories</h2>
                        <div class="link-widget">
                            <ul>
                                <li><a href="#">Fahsion <span>(21)</span></a></li>
                                <li><a href="#">Lifestyle <span>(15)</span></a></li>
                                <li><a href="#">Art & Design <span>(31)</span></a></li>
                                <li><a href="#">Health Beauty <span>(22)</span></a></li>
                                <li><a href="#">Clothing <span>(66)</span></a></li>
                                <li><a href="#">Entertaintment <span>(11)</span></a></li>
                                <li><a href="#">Food & Drink <span>(87)</span></a></li>
                            </ul>
                        </div><!-- end link-widget -->
                    </div><!-- end widget -->
                </div><!-- end sidebar -->
            </div><!-- end col -->

            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="banner-spot clearfix">
                                <div class="banner-img">
                                    <img src="{% static 'upload/banner_01.jpg' %}" alt="" class="img-fluid">
                                </div><!-- end banner-img -->
                            </div><!-- end banner -->
                        </div><!-- end col -->
                    </div><!-- end row -->

                    <hr class="invis">

                    <div class="portfolio row">
                        {% for blog in blogs %}
                        <div class="pitem item-w1 item-h1">
                            <div class="blog-box">
                                <div class="post-media">
                                    <a href="{% url 'blog' blog.slug %}" title="">
                                        <img src="{{blog.coverPic.url}}" alt="" class="img-fluid">
                                        <div class="hovereffect">
                                            <span></span>
                                        </div><!-- end hover -->
                                    </a>
                                </div><!-- end media -->
                                <div class="blog-meta">
                                    <span class="bg-pink"><a href="{% url 'blog-catagory' blog.catagory}" title="">{{catagory}}</a></span>
                                    <h4><a href="single.html" title="">{{blog.blog_title}}</a></h4>
                                    <small><a href="blog-author.html" title="">By: {{blog.user.username}}</a></small>
                                    <small><a href="blog-category-01.html" title="">{{blog.pub_date}}</a></small>
                                </div><!-- end meta -->
                            </div><!-- end blog-box -->
                        </div><!-- end col -->
                        {% endfor %}
                    </div><!-- end portfolio -->
                </div><!-- end page-wrapper -->

                <hr class="invis">

                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-start">
                                <!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                                {% if blogs.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="{% url 'blog-catagory' catagory %}?page={{blogs.previous_page_number}}">Previous</a>
                                </li>
                                {% endif %}
                                {% for page in noOfPages %}
                                <li class="page-item"><a class="page-link" href="{% url 'blog-catagory' catagory %}?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                                {% endfor %}
                                {% if blogs.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="{% url 'blogauthor' blogs.0.user %}?page={{blogs.next_page_number}}">Next</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>

{% endblock %}