{% extends 'website/post_base.html' %}
{% block title %}Create Post{% endblock %}
{% block content %}
<div class="container my-3">
    <form action="" method="post" id="createPostForm" enctype="multipart/form-data">
        {% csrf_token %}
        {% if isCore %}
        <div class="form-group">
            <label for="status">Blog Status</label>
            <select name="status" id="status" class="form-control">
                <option value="ACTIVE" selected>Active</option>
                <option value="PENDING">Pending</option>
            </select>

        </div>
{% endif %}
        {{form.media}}
        {{form.as_p}}

        <!-- <input type="file" name="myfile" value="{{item.coverPic}}"> -->
        <!-- <button type="submit">Upload</button> -->
        <!-- <div class="form-group">
            <label for="status">Blog Title</label>

            <input type="text" name="blogTitle" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="blogContent">Blog content</label>
            <textarea class="form-control" id="blogContent" name="blogContent" rows="3"></textarea>
        </div> -->
        <div class="form-group">
            <label for="categories">Categories</label>

            {% for i in allCategories %}
            <div class="form-check">
                {% if i.1 %}
                <input type="checkbox" name="checkboxCat" class="form-check-input" id="{{i.0.id}}" checked>
                {% else %}
                <input type="checkbox" name="checkboxCat" class="form-check-input" id="{{i.0.id}}">

                {% endif %}
                <label class="form-check-label" for="exampleCheck1">{{i.0.text}}</label>
            </div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="tags">Tags</label>

            {% for i in allTags %}
            <div class="form-check">
                {% if i.1 %}
                <input type="checkbox" name="checkboxTag" class="form-check-input" id="{{i.0.id}}" checked>
                {% else %}
                <input type="checkbox" name="checkboxTag" class="form-check-input" id="{{i.0.id}}">

                {% endif %}
                <label class="form-check-label" for="exampleCheck1">{{i.0.text}}</label>
            </div>
            {% endfor %}
        </div>

</div>


<button type="button" onclick="selectCheck()" class="btn btn-primary">Save</button>
<input type="text" name="selectedCat" id="selectedCat" style="display: none;">
<input type="text" name="selectedTag" id="selectedTag" style="display: none;">
</form>
</div>

<script>
    function selectCheck() {
        form = document.getElementById('createPostForm');

        var checkedList = []
        const checkboxes = document.getElementsByName('checkboxCat');
        for (var i = 0; i < checkboxes.length; i++) {

            if (checkboxes[i].checked) {
                checkedList.push(checkboxes[i].id);
            }


        }
        checkedList = checkedList.join(",");
        document.getElementById('selectedCat').value = checkedList;
        var checkedListTag = []
        const checkboxesTag = document.getElementsByName('checkboxTag');
        for (var i = 0; i < checkboxesTag.length; i++) {

            if (checkboxesTag[i].checked) {
                checkedListTag.push(checkboxesTag[i].id);
            }


        }
        checkedListTag = checkedListTag.join(",");
        document.getElementById('selectedTag').value = checkedListTag;
        form.submit();

    }
</script>
<script>
    const inputs = document.querySelectorAll('input');
    inputs[1].classList += 'form-control';
</script>
{% endblock %}