{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>dashboard</title>
  <link rel="stylesheet" href="{% static 'css/dashboard_style.css' %}">
</head>

<body>
  <link href="https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap" rel="stylesheet">
  <div class="app-container">
    <div class="left-area">
      <div class="app-name">MyDocs</div>
      <!-------------------------first----------------------->
      <a href="{% url 'developer' %}" class="item-link active" id="pageLink">
        <svg width="24" height="24" viewBox="0 0 24 24">
          <path d="M3 10v11h6v-7h6v7h6v-11L12,3z" />
        </svg>
      </a>
      <!----------------------------second---------------------->
      <a href="#" class="item-link" id="pageLink">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
          stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-folder"
          viewBox="0 0 24 24">
          <defs />

          <path d="M22 19a2 2 0 01-2 2H4a2 2 0 01-2-2V5a2 2 0 012-2h5l2 3h9a2 2 0 012 2z" />
        </svg>
      </a>
      <!-----------------------third---------------------------->
      <a href="profile.html" class="item-link" id="pageLink">
        <svg width="24" height="24" viewBox="0 0 24 24" stroke="#212b36" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" fill="none">
          <circle cx="12" cy="8" r="5" />
          <path d="M3,21 h18 C 21,12 3,12 3,21" />
        </svg>
      </a>
      <!-----fourth ------>
      <button class="btn-logout">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
          stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-log-out"
          viewBox="0 0 24 24">
          <defs />
          <path d="M9 21H5a2 2 0 01-2-2V5a2 2 0 012-2h4M16 17l5-5-5-5M21 12H9" />
        </svg>
      </button>
    </div>


    <!---------------------------------center area------------------->
    <div class="main-area">
      <div class="main-area-header">
        <div class="search-wrapper" id="searchLine">
          <input class="search-input" type="text" placeholder="e.g. files.doc">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
            stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-search"
            viewBox="0 0 24 24">
            <defs />
            <circle cx="11" cy="11" r="8" />
            <path d="M21 21l-4.35-4.35" />
          </svg>
        </div>
      </div>
      <section class="content-section">
        <h1 class="section-header">Welcome {{user.username | capfirst}} </h1>
        <a href="{% url 'approved_blogs_developer' %}">
          <div class="access-links">
            <div class="access-link-wrapper">
              <div class="access-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 24 24" fill="none"
                  stroke="black" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-image">
                  <rect x="3" y="3" width="18" height="18" rx="2" ry="2" />
                  <circle cx="8.5" cy="8.5" r="1.5" />
                  <polyline points="21 15 16 10 5 21" />
                </svg>
              </div>
              <span class="access-text">Approved Posts</span>
            </div>
        </a>
        <!----second---->
        <a href="{% url 'all_blogs_developer' %}">
          <div class="access-link-wrapper">
            <div class="access-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 24 24" fill="none"
                  stroke="black" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-image">
                  <rect x="3" y="3" width="18" height="18" rx="2" ry="2" />
                  <circle cx="8.5" cy="8.5" r="1.5" />
                  <polyline points="21 15 16 10 5 21" />
                </svg>
            </div>
            <span class="access-text">All Posts</span>
          </div>
        </a>
        <!-------------third----------->
        <a href="{% url 'contact_form_developer'%}">
          <div class="access-link-wrapper">
            <div class="access-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 24 24" fill="none"
                stroke="black" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-align-left" color="white">
                <line x1="17" y1="10" x2="3" y2="10" />
                <line x1="21" y1="6" x2="3" y2="6" />
                <line x1="21" y1="14" x2="3" y2="14" />
                <line x1="17" y1="18" x2="3" y2="18" />
              </svg>
            </div>
            <span class="access-text">Contact Form</span>
          </div>
        </a>
        <!-------- fourth----------------->
        <a href="{% url 'pending_blogs_developer' %}">
          <div class="access-link-wrapper">
            <div class="access-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 24 24" fill="none"
                stroke="black" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-align-left" color="white">
                <line x1="17" y1="10" x2="3" y2="10" />
                <line x1="21" y1="6" x2="3" y2="6" />
                <line x1="21" y1="14" x2="3" y2="14" />
                <line x1="17" y1="18" x2="3" y2="18" />
              </svg>
            </div>
            <span class="access-text">Pending Posts</span>
          </div>
    </div></a>
    </section>
    <section class="content-section">
      <div class="section-header-wrapper">
        <h1 class="section-header">Latest Post</h1>
      </div>

    </section>
</body>

</html>