{% extends 'website/base.html' %}
{% load static %}
{% block content %}
<section class="section first-section">
    <div class="container-fluid">
        <div class="masonry-blog clearfix">
            <div class="left-side">
                <div class="masonry-box post-media">
                    <img src="{{trandingPosts.4.coverPic.url}}" alt="" class="img-fluid"
                        style="width: 437px !important;height:383px !important;">
                    <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <span class="bg-aqua"><a href="blog-category-01.html"
                                        title="">{{trandingPosts.4.catagory.all.0}}</a></span>
                                <h4><a href="{% url 'blog' trandingPosts.4.slug%}"
                                        title="">{{trandingPosts.4.blog_title}}</a></h4>
                                <small><a href="{% url 'blog' trandingPosts.4.slug%}"
                                        title="">{{trandingPosts.4.pub_date}}</a></small>
                                <small><a href="blog-author.html" title="">by
                                        {{trandingPosts.4.user.username}}</a></small>
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                    </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end left-side -->

            <div class="center-side">
                <div class="masonry-box post-media">
                    <img src="{{trandingPosts.2.coverPic.url}}" alt="" class="img-fluid"
                        style="width: 437px !important;height:213px !important;">
                    <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <span class="bg-green"><a href="blog-category-01.html"
                                        title="">{{trandingPosts.2.catagory.all.0}}</a></span>
                                <h4><a href="{% url 'blog' trandingPosts.2.slug%}"
                                        title="">{{trandingPosts.2.blog_title}}</a></h4>
                                <small><a href="{% url 'blog' trandingPosts.2.slug%}"
                                        title="">{{trandingPosts.2.pub_date}}</a></small>
                                <small><a href="blog-author" title="">by
                                        {{trandingPosts.2.user.username}}</a></small>
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                    </div><!-- end shadow -->
                </div><!-- end post-media -->

                <div class="masonry-box small-box post-media">
                    <img src="{{trandingPosts.0.coverPic.url}}" alt="" class="img-fluid"
                        style="width: 211px !important;height:159px !important;">
                    <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <span class="bg-green"><a href="blog-category-01.html"
                                        title="">{{trandingPosts.0.catagory.all.0}}</a></span>
                                <h4><a href="{% url 'blog' trandingPosts.0.slug%}"
                                        title="">{{trandingPosts.0.blog_title}}</a></h4>
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                    </div><!-- end shadow -->
                </div><!-- end post-media -->

                <div class="masonry-box small-box post-media">
                    <img src="{{trandingPosts.1.coverPic.url}}" alt="" class="img-fluid"
                        style="width: 211px !important;height:159px !important;">
                    <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <span class="bg-green"><a href="blog-category-01.html"
                                        title="">{{trandingPosts.1.catagory.all.0}}</a></span>
                                <h4><a href="{% url 'blog' trandingPosts.1.slug%}"
                                        title="">{{trandingPosts.1.blog_title}}</a></h4>
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                    </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end left-side -->

            <div class="right-side hidden-md-down">
                <div class="masonry-box post-media">
                    <img src="{{trandingPosts.3.coverPic.url}}" alt="" class="img-fluid"
                        style="width: 437px !important;height:383px !important;">
                    <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <span class="bg-aqua"><a href="blog-category-01.html"
                                        title="">{{trandingPosts.3.catagory.all.0}}</a></span>
                                <h4><a href="{% url 'blog' trandingPosts.3.slug%}"
                                        title="">{{trandingPosts.3.blog_title}}</a></h4>
                                <small><a href="{% url 'blog' trandingPosts.3.slug%}"
                                        title="">{{trandingPosts.3.pub_date}}</a></small>
                                <small><a href="blog-author.html" title="">by
                                        {{trandingPosts.3.user.username}}</a></small>
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                    </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end right-side -->
        </div><!-- end masonry -->
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h3 class="color-aqua"><a href="blog-category-01.html" title="">{{trandingCatagories.0}}</a></h3>
                </div><!-- end title -->
                <!-- cat 1 -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        {% for i in trendingPostContent.0.1 %}
                        {% if forloop.counter < 3  %}
                        <div class="blog-box">
                            <div class="post-media">
                                <a href="{% url 'blog' i.slug%}" title="">
                                    <img src="{{i.coverPic.url}}" style="width:1200px;height: 230px;" alt=""
                                        class=" img-fluid">
                                    <div class="hovereffect">
                                        <span></span>
                                    </div><!-- end hover -->
                                </a>
                            </div><!-- end media -->
                            <div class="blog-meta big-meta">
                                <h4><a href="{% url 'blog' i.slug%}" title="">{{i.blog_title}}</a></h4>

                                {% autoescape off %}
                                {{i.blog_content}}
                                {% endautoescape %}

                                <small><a href="blog-category-01.html" title="">{{trandingCatagories.0}}</a></small>
                                <small><a href="{% url 'blog' i.slug%}" title="">{{i.pub_date}}</a></small>
                                <small><a href="blog-author/{{i.user.id}}" title="">By
                                        {{i.user}}</a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->
                        {% endif %}
                        {% endfor %}

                        <hr class=" invis">


                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->
            <!-- end cat 1 -->
            <!-- cat 2 -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h3 class="color-pink"><a href="blog-category-01.html" title="">{{trandingCatagories.1}}</a>
                    </h3>
                </div><!-- end title -->
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        {% for i in trendingPostContent.1.1 %}
                        {% if forloop.counter < 5 %}
                        {% if forloop.counter == 3 %}
                        <hr class="invis">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        {% endif %}
                        <div class="blog-box">
                            <div class="post-media">
                                <a href="{% url 'blog' i.slug%}" title="">
                                    <img src="{{i.coverPic.url}}" style="width: 400px;height: 400px;" alt=""
                                        class="img-fluid">
                                    <div class="hovereffect">
                                        <span></span>
                                    </div><!-- end hover -->
                                </a>
                            </div><!-- end media -->
                            <div class="blog-meta">
                                <h4><a href="{% url 'blog' i.slug%}" title="">{{i}}</a></h4>
                                <small><a href="blog-category-01.html" title="">{{trandingCatagories.1}}</a></small>
                                <small><a href="{% url 'blog' i.slug%}" title="">{{i.pub_date}}</a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->

                        <hr class="invis">
                        {% endif %}
                        {% endfor %}

                    </div><!-- end col -->


                </div><!-- end row -->
            </div><!-- end col -->
        </div><!-- end row -->
        <!-- ebnd cat 2 -->
        <hr class="invis1">

        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="banner-spot clearfix">
                    <div class="banner-img">
                        <img src="{% static 'upload/banner_01.jpg' %}" alt="" class="img-fluid">
                    </div><!-- end banner-img -->
                </div><!-- end banner -->
            </div><!-- end col -->
        </div><!-- end row -->

        <hr class="invis1">

        <div class="row">
            <div class="col-lg-9">

                <div class="blog-list clearfix">
                    <div class="section-title">
                        <h3 class="color-green"><a href="blog-category-01.html"
                                title="">{{ trendingPostContent.2.0}}</a></h3>
                    </div><!-- end title -->
                    {% for i in trendingPostContent.2.1 %}
                    {% if forloop.counter < 4 %}
                    <div class="blog-box row">
                        <div class="col-md-4">
                            <div class="post-media">
                                <a href="{% url 'blog' i.slug%}" title="">
                                    <img src="{{i.coverPic.url}}" alt="" class="img-fluid">
                                    <div class="hovereffect"></div>
                                </a>
                            </div><!-- end media -->
                        </div><!-- end col -->

                        <div class="blog-meta big-meta col-md-8">
                            <h4><a href="{% url 'blog' i.slug%}" title="">{{i.blog_title}}</a></h4>

                            {% autoescape off %}
                            {{i.blog_content}}
                            {% endautoescape %}
                            <small><a href="{% url 'blog' i.slug%}" title="">{{ trendingPostContent.2.0}}</a></small>
                            <small><a href="{% url 'blog' i.slug%}" title="">{{i.pub_date}}</a></small>
                            <small><a href="blog-author/{{i.user.id}}" title="">by {{i.user}}</a></small>
                        </div><!-- end meta -->
                    </div><!-- end blog-box -->

                    <hr class="invis">
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="blog-list clearfix">
                    <div class="section-title">
                        <h3 class="color-green"><a href="blog-category-01.html"
                                title="">{{ trendingPostContent.3.0}}</a></h3>
                    </div>
                    {% for i in trendingPostContent.3.1 %}
                    {% if forloop.counter < 4 %}

                    <div class="blog-box row">
                        <div class="col-md-4">
                            <div class="post-media">
                                <a href="{% url 'blog' i.slug%}" title="">
                                    <img src="{{i.coverPic.url}}" alt="" class="img-fluid">
                                    <div class="hovereffect"></div>
                                </a>
                            </div><!-- end media -->
                        </div><!-- end col -->

                        <div class="blog-meta big-meta col-md-8">
                            <h4><a href="{% url 'blog' i.slug%}" title="">{{i.blog_title}}</a></h4>

                            {% autoescape off %}
                            {{i.blog_content}}
                            {% endautoescape %}
                            <small><a href="{% url 'blog' i.slug%}" title="">{{ trendingPostContent.3.0}}</a></small>
                            <small><a href="{% url 'blog' i.slug%}" title="">{{i.pub_date}}</a></small>
                            <small><a href="blog-author/{{i.user.id}}" title="">by {{i.user}}</a></small>
                        </div><!-- end meta -->
                    </div><!-- end blog-box -->

                    <hr class="invis">
                    {% endif %}

                    {% endfor %}
                </div><!-- end blog-list -->
            </div><!-- end col -->

            <div class="col-lg-3">
                <div class="section-title">
                    <h3 class="color-yellow"><a href="blog-category-01.html" title="">Vlogs</a></h3>
                </div><!-- end title -->
                {% for i in trendingPostContent.3.1 %}
                {% if forloop.counter < 4 %}
                <div class="blog-box">
                    <div class="post-media">
                        <a href="{% url 'blog' i.slug%}" title="">
                            <img src="{{i.coverPic.url}}" alt="" class="img-fluid">
                            <div class="hovereffect">
                                <span class="videohover"></span>
                            </div><!-- end hover -->
                        </a>
                    </div><!-- end media -->
                    <div class="blog-meta">
                        <h4><a href="{% url 'blog' i.slug%}" title="">{{i.blog_title}}</a></h4>
                        <small><a href="blog-category-01.html" title="">{{trendingPostContent.3.0}}</a></small>
                        <small><a href="blog-category-01.html" title="">{{i.pub_date}}</a></small>
                    </div><!-- end meta -->
                </div><!-- end blog-box -->

                <hr class="invis">
                {% endif %}
                {% endfor %}

                <div class="section-title">
                    <h3 class="color-yellow"><a href="blog-category-01.html" title="">Vlogs</a></h3>
                </div><!-- end title -->
                {% for i in trendingPostContent.4.1 %}
                {% if forloop.counter < 4 %}
                <div class="blog-box">
                    <div class="post-media">
                        <a href="{% url 'blog' i.slug%}" title="">
                            <img src="{{i.coverPic.url}}" alt="" class="img-fluid">
                            <div class="hovereffect">
                                <span class="videohover"></span>
                            </div><!-- end hover -->
                        </a>
                    </div><!-- end media -->
                    <div class="blog-meta">
                        <h4><a href="{% url 'blog' i.slug%}" title="">{{i.blog_title}}</a></h4>
                        <small><a href="blog-category-01.html" title="">{{trendingPostContent.4.0}}</a></small>
                        <small><a href="blog-category-01.html" title="">{{i.pub_date}}</a></small>
                    </div><!-- end meta -->
                </div><!-- end blog-box -->

                <hr class="invis">
                {% endif %}
                {% endfor %}



            </div><!-- end col -->
        </div><!-- end row -->

        <hr class="invis1">

        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="banner-spot clearfix">
                    <div class="banner-img">
                        <img src="{% static 'upload/banner_02.jpg' %}" alt="" class="img-fluid">
                    </div><!-- end banner-img -->
                </div><!-- end banner -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>
{% endblock %}