{% extends 'registration/reset_base.html' %}
{% block content %}
<div class="container" style="font-family: 'Roboto', sans-serif;">
    <div class="row my-5">
        <div class="col-md-6 col-12 m-auto">
            <div class="card bg-primary text-white">
                <div class="card-header text-center">
                    <p class="lead">Password reset sent</p>
                </div>
                <div class="card-body my-2">
                    <p class="alert alert-success">Your new password is set. You may go ahead and login now.</p>
                    <a href="{% url 'login' %}" class="btn btn-info">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
